{% extends 'DbaAdminBundle::base.html.twig' %}
{% import "DbaAdminBundle::object/macros.html.twig" as helper %}

{% block body %}
  {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
  <form id="object-form" class="form-horizontal" method="post" action="{{ currentPath }}" autocomplete="off">
    <div class="col-sm-10 col-sm-offset-2">
      <img id="object-image-displayed" />
    </div>

    {{ form_row(form.name) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.weight) }}
    {{ form_row(form.price) }}
    {{ form_row(form.type) }}
    {{ form_row(form.image) }}

    <div class="text-center">
      <button class="btn btn-default btn-add" data-target="bonus">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        {{ 'form.add.bonus' | trans }}
      </button>
      <div class="clearfix">&nbsp;</div>
    </div>

    <div id="bonus" data-prototype="{{ helper.widget_prototype(form.bonus, 'form.remove') | escape }}">
      {% for widget in form.bonus.children %}
        {{ helper.widget_prototype(widget, 'form.remove')}}
      {% endfor %}
    </div>

    <div class="text-center">
      <button class="btn btn-default btn-add" data-target="requirements">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        {{ 'form.add.requirements' | trans }}
      </button>
      <div class="clearfix">&nbsp;</div>
    </div>

    <div id="requirements" data-prototype="{{ helper.widget_prototype(form.requirements, 'form.remove') | escape }}">
      {% for widget in form.requirements.children %}
        {{ helper.widget_prototype(widget, 'form.remove')}}
      {% endfor %}
    </div>

    {{ form_widget(form._token) }}

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{{ 'save' | trans }}</button>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    DbaAdmin.object($('#{{ form.image.vars.id }}'));
  </script>
{% endblock %}
