{% extends 'DbaAdminBundle::base.html.twig' %}

{% block body %}
  <table class="table table-hover table-clickable">
    <thead>
      <tr>
        <th>{{ 'object.name' | trans }}</th>
        <th>{{ 'object.type' | trans }}</th>
        <th>{{ 'object.price' | trans }}</th>
        <th>{{ 'object.weight' | trans }}</th>
        <th>{{ 'object.enabled' | trans }}</th>
        <th>{{ 'object.actions' | trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for object in objectList %}
        <tr>
          <td>
            {{ object.name }}
          </td>
          <td>
            {{ constant('TYPE_LIST', object)[object.type] }}
          </td>
          <td>
            {{ object.price }}
          </td>
          <td>
            {{ object.weight }}
          </td>
          <td>
            {{ object.enabled }}
          </td>
          <td>
            <a href="{{ path('admin.object.edit', {"id": object.id}) }}">
              <img src="{{ asset('bundles/dbaadmin/images/edit.png') }}" alt="{{ 'edit' | trans }}" />
            </a>
            &nbsp;-&nbsp;
            <a href="{{ path('admin.object.delete', {"id": object.id}) }}" class="delete-object" data-toggle="confirmation">
              <img src="{{ asset('bundles/dbaadmin/images/trash.png') }}" alt="{{ 'delete' | trans }}" />
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    DbaAdmin.confirmation();
    DbaAdmin.clickable();
  </script>
{% endblock %}
