<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}/" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}" />
    <title>{% block title %}DBAdventure{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/admin/css/dbadventure.css" type="text/css" />
    <link rel="stylesheet" href="/admin/css/admin.css" type="text/css" />
  </head>
  <body id="admin">
    <div id="main">
      <div class="container-fluid">
        <div id="menu">
          {% include "DbaAdminBundle::menu.html.twig" %}
          {% block submenu %}{% endblock %}
        </div>
        <div id="content">
          <div class="body">
            {% for type, flashes in app.session.flashbag.all %}
              {% for flash in flashes %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">{{ 'close' | trans }}</span>
                  </button>
                  <p>{{ flash }}</p>
                </div>
              {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>

      <footer id="footer">
        <p class="text-muted">©DBAdventure.</p>
      </footer>
    </div>
    <script src="{{ asset('/bundles/dbaadmin/js/jquery-3.1.1.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/generic-classes.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/bootstrap-confirmation.min.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/vendor/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/dbadventure.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/admin.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
