<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>{% block title %}DBAdventure{% endblock %}</title>

    {% stylesheets '@DbaAdminBundle/Resources/assets/css/shared/*.scss' filter="scssphp" output="/admin/css/dbadventure.css" %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% stylesheets '@DbaAdminBundle/Resources/assets/css/admin.scss' filter="scssphp" output="/admin/css/admin.css" %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  </head>
  <body id="admin">
    <div id="main">
      <div class="container-fluid">
        <div id="menu">
          {% include "DbaAdminBundle::menu.html.twig" %}
          {% block submenu %}{% endblock %}
        </div>
        <div id="content">
          <div class="body">
            {% for type, flashes in app.session.flashbag.all %}
              {% for flash in flashes %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">{{ 'close' | trans }}</span>
                  </button>
                  <p>{{ flash }}</p>
                </div>
              {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>

      <footer id="footer">
        <p class="text-muted">©DBAdventure.</p>
      </footer>
    </div>
    <script src="{{ asset('/bundles/dbaadmin/js/jquery-3.1.1.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/generic-classes.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/bootstrap-confirmation.min.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/vendor/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/dbadventure.js') }}"></script>
    <script src="{{ asset('/bundles/dbaadmin/js/admin.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
