{% extends 'DbaAdminBundle::base.html.twig' %}
{% import "DbaAdminBundle::default/macros.html.twig" as helper %}

{% block body %}
  {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
  <form id="quest-form" class="form-horizontal" method="post" action="{{ currentPath }}" autocomplete="off">
    <div class="col-sm-10 col-sm-offset-2">
      <img id="quest-image-displayed" />
    </div>

    {{ form_row(form.image) }}
    {{ form_row(form.name) }}
    {{ form_row(form.npcName) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.history) }}

    {{ form_row(form.map) }}
    {{ form_row(form.x) }}
    {{ form_row(form.y) }}
    {{ form_row(form.gainZeni) }}
    {{ form_row(form.gainBattlePoints) }}

    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#quest-requirements" aria-controls="quest-requirements" role="tab" data-toggle="tab">{{ 'form.requirements' | trans }}</a></li>
      <li><a href="#gain-objects" aria-controls="go" role="tab" data-toggle="tab">{{ 'form.gainObjects' | trans }}</a></li>
      <li><a href="#npcs-needed" aria-controls="nn" role="tab" data-toggle="tab">{{ 'form.npcsNeeded' | trans }}</a></li>
      <li><a href="#npc-objects-needed" aria-controls="non" role="tab" data-toggle="tab">{{ 'form.npcObjectsNeeded' | trans }}</a></li>
      <li><a href="#objects-needed" aria-controls="on" role="tab" data-toggle="tab">{{ 'form.objectsNeeded' | trans }}</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="quest-requirements">

        <div id="requirements" data-prototype="{{ helper.widget_prototype(form.requirements, 'form.remove') | escape }}">
          {% for widget in form.requirements.children %}
            {{ helper.widget_prototype(widget, 'form.remove')}}
          {% endfor %}
        </div>
        <div class="text-center">
          <button class="btn btn-default btn-add" data-target="requirements">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{ 'form.add.requirements' | trans }}
          </button>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="gain-objects">
        <div id="gainObjects" data-prototype="{{ helper.widget_prototype(form.gainObjects, 'form.remove', 'object', 'number') | escape }}">
          {% for widget in form.gainObjects.children %}
            {{ helper.widget_prototype(widget, 'form.remove', 'object', 'number')}}
          {% endfor %}
        </div>
        <div class="text-center">
          <button class="btn btn-default btn-add" data-target="gainObjects">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{ 'form.add.gainObjects' | trans }}
          </button>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="npcs-needed">
        <div id="npcsNeeded" data-prototype="{{ helper.widget_prototype(form.npcsNeeded, 'form.remove', 'race', 'number') | escape }}">
          {% for widget in form.npcsNeeded.children %}
            {{ helper.widget_prototype(widget, 'form.remove', 'race', 'number')}}
          {% endfor %}
        </div>
        <div class="text-center">
          <button class="btn btn-default btn-add" data-target="npcsNeeded">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{ 'form.add.npcsNeeded' | trans }}
          </button>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="npc-objects-needed">
        <div id="npcObjectsNeeded" data-prototype="{{ helper.widget_prototype(form.npcObjectsNeeded, 'form.remove', 'npcObject', 'number') | escape }}">
          {% for widget in form.npcObjectsNeeded.children %}
            {{ helper.widget_prototype(widget, 'form.remove', 'npcObject', 'number')}}
          {% endfor %}
        </div>
        <div class="text-center">
          <button class="btn btn-default btn-add" data-target="npcObjectsNeeded">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{ 'form.add.npcObjectsNeeded' | trans }}
          </button>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="objects-needed">
        <div id="objectsNeeded" data-prototype="{{ helper.widget_prototype(form.objectsNeeded, 'form.remove', 'object', 'number') | escape }}">
          {% for widget in form.objectsNeeded.children %}
            {{ helper.widget_prototype(widget, 'form.remove', 'object', 'number')}}
          {% endfor %}
        </div>
        <div class="text-center">
          <button class="btn btn-default btn-add" data-target="objectsNeeded">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{ 'form.add.objectsNeeded' | trans }}
          </button>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>
    </div>

    {{ form_widget(form._token) }}

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{{ 'save' | trans }}</button>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    DbaAdmin.quest($('#{{ form.image.vars.id }}'));
  </script>
{% endblock %}
