{% extends 'DbaAdminBundle::base.html.twig' %}
{% import "DbaAdminBundle::default/macros.html.twig" as defaultHelper %}

{% block body %}
  <table class="table table-hover table-clickable">
    <thead>
      <tr>
        <th>{{ 'quest.name' | trans }}</th>
        <th>{{ 'quest.npc.name' | trans }}</th>
        <th>{{ 'quest.enabled' | trans }}</th>
        <th>{{ 'quest.actions' | trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for quest in quests %}
        <tr>
          <td>
            {{ quest.name }}
          </td>
          <td>
            {{ quest.npcName }}
          </td>
          <td>
            {{ quest.enabled }}
          </td>
          <td>
            <a href="{{ path('admin.quest.edit', {"id": quest.id}) }}">
              <img src="{{ asset('bundles/dbaadmin/images/edit.png') }}" alt="{{ 'edit' | trans }}" />
            </a>
            &nbsp;-&nbsp;
            <a href="{{ path('admin.quest.delete', {"id": quest.id}) }}" class="delete-news" data-toggle="confirmation">
              <img src="{{ asset('bundles/dbaadmin/images/trash.png') }}" alt="{{ 'delete' | trans }}" />
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    DbaAdmin.confirmation();
    DbaAdmin.clickable();
  </script>
{% endblock %}
