<h3>Vous l'avez fait <strong>{{ player.name }} !</strong> Bievenue dans l'aventure !</h3>

<p>
  Afin de pouvoir vous balader sur l'île, vous avez besoin de valider l'inscription. <br />
  Pour cela, rendez-vous à l'adresse suivante : <br/>
  <a href="{{ front_url }}/account/confirm/{{ player.id }}/{{ player.confirmationToken }}">{{ front_url }}/account/confirm/{{ player.id }}/{{ player.confirmationToken }}</a>.
</p>

<p>
  Au cas où vous auriez oublié votre identifiant.<br/>
  <strong>Identifiant :</strong> {{ player.username}}
</p>

<p>
  Merci de ne pas répondre a ce mail.
</p>
