<h3>Bonjour <strong>{{ player.name }}</strong>,</h3>

<p>
  Vous avez demandé à réinitialiser votre mot de passe.
  Pour cela, merci de cliquer sur le lien suivant.
</p>
<p>
  <a href="{{ front_url }}/account/lost-password/{{ player.id }}/{{ player.passwordRequestToken }}">{{ front_url }}/account/lost-password/{{ player.id }}/{{ player.passwordRequestToken }}</a>.
</p>

<p>
  Merci de ne pas répondre a ce mail.
</p>
